<!--The content below is only a placeholder and can be replaced.-->


<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <h1>Tickting System</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span><img src="../assets/ticket.png" style="width:50px;"></span>
    <!-- <span style="color: bisque">Tickering System</span> -->
    <a mat-button [routerLink]="['customers']">Customer</a> |
    <a mat-button [routerLink]="['employees']">Empolyee</a> |
    <a mat-button [routerLink]="['employees/tickets']">My Tickets</a> |
    <a mat-button [routerLink]="['users/signup']">Customer Signup</a> |
    <a mat-button [routerLink]="['users']">Login</a> |
    <a mat-button [routerLink]="['users/logoff']">Log off</a>

  </mat-toolbar-row>
</mat-toolbar>
<main>
  <router-outlet style="margin-top: 80px;"></router-outlet>
</main>
